<section id="experience" class="container experience">

    {{> section-info slug="Experience" content="Work Experience"}}

    <ul class="timeline">
        {{> position title="Pytek"
        link="https://pytek.bg/"
        date="2020"
        position="Intern Frontend Developer"
        }}

        {{> position title="Self improvement"
        link="https://harduex.github.io/"
        inverted=true
        date="2021"
        position="Full Stack Web Developer"
        }}
    </ul>

</section>