<section id="education" class="container education">
    {{> section-info slug="Education" content="My Professional Education"}}
    {{# accordion }}
        {{> accordion-item id="accordion-item-1"
            title="Secondary School"
            content="<a href='https://http://www.sgcag.info'>School of Construction, Architecture and Geodesy Hristo Botev"
            date="09.2013 - 05.2018"
        }}

        {{> accordion-item id="accordion-item-2"
        title="Bachelor Degree of Software development"
        description="
            Joint program between New Bulgarian University and Computer
            Academy 'IT Step' in the field of 'Software Development' with
            continuation in the Bachelor's program in Informatics,
            specialization 'Computer
            Programming' in New Bulgarian University
        "
        date="11.2018 - present"
        content="
            <ul>
                <li><a href='https://itstep.bg'>Computer Academy IT STEP</a>
                </li>
                <li><a href='https://www.nbu.bg'>New Bulgarian University</a>
                </li>
            </ul>
        "
        }}
    {{/ accordion }}

</section>