<section id="home" class="container home">
    <div class="row">
        <div class="col home--left">
            <h1>Hi! <br></h1>
            {{>author name="I'm Simeon" birthday="1999-11-07"}}
            <h2>Creative, <br> enthusiastic <br> and motivated!</h2>
        </div>
        <div class="col col-md-7 home--right">
            <a class="btn btn-primary text-white home__button" href="/CV/CV_SIMEON_DIMITROV.pdf">
                Download CV
                <img src="images/download.svg"></img>
            </a>
            <img class="me-svg" src="images/Simeon_svg.svg" alt="Me">
        </div>
    </div>
</section>