.home {
    &--left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &--right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .me-svg {
            width: 75%;
        }
    }
    &__button {
        position: relative;
        top: 45px;
    }
}
