<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simeon Dimitrov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Innovative and motivated tech mind, thirsty for new adventures and knowledge!" />
    <meta name="keywords" content="Programmer,ASP.NET, C#, C, C++, web developer, developer, java, javascript, js, Python, 
    php, job, work, projects, project, professional, interview, SQL, database, data, website, protfolio, CV, job seeking, 
    computer, tech, technology, industry, robotics, pc, learning, skills, custom, software" />
    <meta name="author" content="Simeon Dimitrov" />
    <meta name="description" content="Innovative and motivated tech mind, thirsty for new adventures and knowledge! ">
    <meta property="og:url" content="https://harduex.github.io/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Simeon Dimitrov">
    <meta property="og:description"
        content="Innovative and motivated tech mind, thirsty for new adventures and knowledge! ">
    <meta property="og:image" content="https://harduex.github.io/images/about.jpg">
    <meta property="twitter:url" content="https://harduex.github.io/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Simeon Dimitrov">
    <meta name="twitter:description"
        content="Innovative and motivated tech mind, thirsty for new adventures and knowledge! ">
    <meta name="twitter:image" content="https://harduex.github.io/images/about.jpg">

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="styles/style.css" type="text/css" media="all" />

    <script type="text/javascript" src="js/main.js" defer></script>

    <title>{{title}}</title>
</head>

<body>
    <div id="root">
        {{> header }}
        {{> body }}
        {{> footer corp="Simeon Dimitrov"}}
    </div>
</body>

</html>