<section id="work" class="container work">

    {{> section-info slug="Projects" content="Check out my Work"}}

    <div class="row">
        <div class="col-md-3 text-center">
            {{> post title="Programming"
            content="See my recent programming projects on <a href='https://github.com/Harduex'>Github</a>"
            icon="" }}
        </div>
        <div class="col-md-3 text-center">
            {{> post title="Music"
            content="Check out my songs on my <a href='https://www.youtube.com/Harduex'>youtube</a> or
            <a href='https://soundcloud.com/harduex'>Soundcloud</a>"
            icon="" }}
        </div>
        <div class="col-md-3 text-center">
            {{> post title="Design"
            content="See my visual art works on my <a href='https://instagram.com/harduex_art'>Instagram</a>"
            icon="" }}
        </div>
    </div>
</section>