<section id="about" class="container about">
    <div class="row">
        <div class="col-md-12 about--top">
            {{> section-info slug="About Me" content="Who Am I?"}}
            <p><strong>Hi I'm Simeon Dimitrov</strong><br> Innovative and motivated tech
                mind, thirsty for new adventures and knowledge. A computer
                <strong>programmer</strong> with excellent computer skills, currently
                studying for full stack <strong>web developer</strong>. Capable of
                working with a variety of technology and software solutions, and
                managing
                <strong>databases</strong>. Valuable team member who has experience
                diagnosing problems and developing innovative solutions. Extensive
                expertise in networking systems and working with mainframe computers.
                I like to make things work, from start to finish!
            </p>
        </div>
    </div>

    <div class="row about--bottom">
        <div class="col-md-3">
            {{> post title="Backend"
            content="C++, C#, Java, Python, Php"
            icon="" }}
        </div>
        <div class="col-md-3">
            {{> post title="Databases"
            content="SQL, SQLite, MongoDB, Oracle"
            icon="" }}
        </div>
        <div class="col-md-3">
            {{> post title="Frontend"
            content="HTML, CSS, JavaScript"
            icon="" }}
        </div>
    </div>
</section>