<section id="personalSkills" class="container personal-skills">
    {{> section-info slug="What I do?" content="My personal sills"}}

    <div class="row row-pt-md">
        <div class="col-md-4 text-center animate-box">
            {{> post title="Creativity"
            content="I am a creative person. I love to experiment with styles and looks. I have
            experience with many photo and music editing tools."
            icon="" }}
        </div>
        <div class="col-md-4 text-center animate-box">
            {{> post title="Innovative Ideas"
            content="I'm not just interested in design. I like to make things work too. I love
            technology and I am ready to work constantly to improve it."
            icon="" }}
        </div>
        <div class="col-md-4 text-center animate-box">
            {{> post title="Motivation"
            content="My goal is to work with interesting people on interesting projects. I strive
            to improve myself and learn new things every day."
            icon="" }}
        </div>
    </div>
</section>