.header {
    -webkit-box-shadow: 0px 3px 22px 15px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0px 3px 22px 15px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 3px 22px 15px rgba(0, 0, 0, 0.03);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8482ff;
    .navbar {
        background-color: #8482ff;
        height: 100%;
    }
}
